<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/layout">
<div layout:fragment="sidebar" th:replace="layout/sidebar">
</div>
<div layout:fragment="content" th:fragment="content">
    <!-- <div th:replace="fragments :: navbar"></div> -->
    <!-- <h1 layout:fragment="page-header">Messages : View all</h1> -->
    <div class="page-header">
        <h1>批量注册 </h1>
    </div>

    <div class="row">
        <div class="col-sm-6" th:hidden="${task} != null" id="new_task_form">
            <form class="form-horizontal" id="import_form" action="createTask" method="post" enctype="multipart/form-data" >
                <div class="form-group">
                    <label for="faceset" class="col-sm-2 control-label">人脸库</label>
                    <div class="input-group col-sm-6">
                        <select class="form-control" id="faceset" name="faceSetToken" required="required">
                        </select>
                    </div>
                    <label for="faceset" class="col-sm-2 control-label" style="margin-top: 10px">导入方式</label>
                    <div class="input-group col-sm-6" style="margin-top: 10px">
                        <select class="form-control" id="type" name="type" required="required">
                            <option value="local">本地</option>
                            <option value="remote">远程</option>
                        </select>
                    </div>
                </div>
                <div class="form-group" id="local">
                    <label for="faceset" class="col-sm-2 control-label" style="padding-top: 6%">本地选择</label>
                    <div class="col-xs-8">
                        <div style="margin-left: -15px">
                            <div class="filelarge">
                                <div class="form-group" style="width: 99%">
                                    <div class="col-sm-10">
                                        <input type="file" name="myfile" id="my-file-input"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group" style="display: none" id="remote">
                    <label for="faceset" class="col-sm-2 control-label">远程路径</label>
                    <div class="input-group col-sm-6">
                        <input type="text" class="form-control" placeholder="" id="path_input" name="path"
                               required="required" readonly="readonly">
                        <span class="input-group-btn">
									<button type="button" class="btn btn-purple btn-sm" data-toggle="modal"
                                            data-target="#browser">
										<span class="ace-icon fa fa-search icon-on-right bigger-110"></span>
										浏览
									</button>
								</span>
                    </div>
                </div>
                <span id="uploadText" class=" control-label" style="float: left;margin-left: 7%;padding-top: 1px;display: none">上传进度</span>
                <div id="uploadProgress" style="width:90%;margin-left: 15%;display: none">
                    <div  style="width:58%;float:left;">
                        <div class="progress progress-mini progress-striped active" style="height: 20px;">
                            <div id="progressBar" style="width: 0%;" class="progress-bar progress-bar-purple" ></div>
                        </div>
                    </div>
                    <div style="float: left;width: 44.5%;margin-left: -30%"><span id="percentage">0%</span></div>
                </div>
                <div class="list-group-item" style="width: 52%;margin-left: 15%;margin-top:7%;margin-bottom:2%;display: none">
                    <h6>日志</h6>
                    <div id="uplog_container">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="button" class="btn btn-default" id="import_btn">导入</button>
                    </div>
                </div>
            </form>
            <div class="alert alert-danger" role="alert" th:if="${createTask == false}">创建失败</div>
        </div>

        <div th:if="${task != null}" id="current_task">
            <div id="task_container" class="col-sm-6">
                <h3>当前任务</h3>
                <div class="panel panel-default">
                    <div class="panel-heading" th:text="${task.taskId}">任务名</div>
                    <div class="list-group">
                        <div class="list-group-item">
                            <h6><span id="task_progress_info"
                                      th:text="|进度  (${task.progress}/${task.total})， 失败:${task.error}个|">(/)</span>
                            </h6>
                            <div class="progress pos-rel progress-large" id="task_progress" data-percent="66%"
                                 th:data-percent="${#numbers.formatPercent(task.progress*1f/task.total, 0, 2)}">
                                <div class="progress-bar progress-bar-striped active"
                                     th:style="|width: ${task.progress*100f/task.total}%;|"></div>
                            </div>
                        </div>
                        <div class="list-group-item">
                            <div class='row'>
                                <div class="col-sm-12">
                                    <span class="col-sm-2">启动者</span>
                                    <span class="col-sm-6" th:text="${task.creator}">admin</span>
                                </div>
                                <div class="col-sm-12">
                                    <span class="col-sm-2">开始时间</span>
                                    <span class="col-sm-6"
                                          th:text="${#calendars.format(task.createTime,'MM-dd HH:mm:ss')}">time</span>
                                </div>
                                <div class="col-sm-12">
                                    <span class="col-sm-2">文件路径</span>
                                    <span class="col-sm-6" th:text="${task.filePath}">dir</span>
                                </div>
                                <div class="col-sm-12">
                                    <span class="col-sm-2">人脸库</span>
                                    <span class="col-sm-6" th:text="${task.faceSet.name}">admin</span>
                                </div>
                            </div>
                        </div>
                        <div class="list-group-item">
                            <h6>日志</h6>
                            <div id="log_container">
                            </div>
                        </div>
                    </div>
                </div>
                <div id="new_task" th:hidden="${task.status!=2}">
                    <button class="btn btn-primary">新导入</button>
                </div>
                <div id="stop_btn" th:hidden="${task.status==2}">
                    <button class="btn btn-primary">停止</button>
                </div>
            </div>

            <div th:if="${task.status} ==2" id="error_container" class="col-sm-6">
                <h3>错误统计</h3>
                <div id="error_div">
                    <table data-pagination="true" id="error_table"
                           data-url="batch/error"
                           data-side-pagination="server"
                           data-page-list="[5, 10, 20, 50]">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th data-field="name">Name</th>
                            <th data-field="content">Error</th>
                            <th data-field="date">Date</th>
                        </tr>
                        </thead>
                        <!-- <tbody>
                            <tr th:each="record,stat : ${task.errorRecords}">
                                <td th:text="${stat.index+1}"></td>
                                <td th:text="${record.name}"></td>
                                <td th:text="${record.content}"></td>
                                <td th:text="${#dates.format(record.date, 'yyyy/MM/dd HH:mm:ss')}"></td>
                            </tr>
                        </tbody> -->
                    </table>
                </div>
            </div>
            <script type="text/javascript" th:inline="javascript">
                $('#new_task').click(function (e) {
                    $('#current_task').hide();
                    $('#new_task_form').show();
                });

                $('#log_container').ace_scroll({size: 200});

                $('#error_div').ace_scroll({size: 600});

                var socket = new WebSocket('ws://' + window.location.host + '/client');
                var stompClient = Stomp.over(socket);
                stompClient.connect({}, function (frame) {
                    stompClient.subscribe('/w/task/' + [[${task.taskId}]], function (message) {
                        var task = JSON.parse(message.body);
                        var progress = (task.progress * 100 / task.total).toFixed(2) + '%';
                        //$("#task_progress").data('percent', progress);


                        var cost = formatCostTime(costTime(task.costTime));

                        var leftTime = Math.floor(task.costTime / task.progress * (task.total - task.progress));

                        var left = formatCostTime(costTime(leftTime));

                        var info = "进度  (" + task.progress + "/" + task.total + ")， 失败:" + task.error + "个。 已用时:" + cost + "， 预计剩余时间: " + left;


                        $('#task_progress_info').text(info);

                        $("#task_progress").attr('data-percent', progress);
                        $("#task_progress .progress-bar").css('width', progress);
                        $('#log_container').ace_scroll('end');
                        if (task.status == 2) {
                            progress_done();
                            $('#stop_btn').hide();
                        }
                    });

                    stompClient.subscribe('/w/tasklog/' + [[${task.taskId}]], function (message) {
                        $('#log_container .scroll-content').append($('<br>')).append($('<span>').text(message.body));
                    });
                    $('#stop_btn').click(function (e) {
                        progress_done();
                        stompClient.send('/app/c/stop/', function (message) {
                            stompClient.disconnect();
                        })
                        $('#stop_btn').hide();
                    });
                });

                function progress_done() {
                    $('#new_task').show();
                    $("#task_progress .progress-bar").removeClass('active').removeClass('progress-bar-striped').addClass('progress-bar-success');

                }

                function costTime(cost) {
                    var sec = cost % 60;
                    var m = Math.floor(cost / 60);
                    var min = m % 60;
                    var h = Math.floor(m / 60);
                    var hour = h % 24;
                    var day = Math.floor(h / 24);

                    return {
                        day: day,
                        hour: hour,
                        min: min,
                        sec: sec
                    }
                }

                function formatCostTime(time) {
                    var s = "";
                    if (time.day > 0) {
                        s += time.day + "天"
                    }
                    if (time.hour > 0) {
                        s += time.hour + "小时"
                    }
                    if (time.min > 0) {
                        s += time.min + "分钟"
                    }
                    s += time.sec + "秒";
                    return s;
                }

            </script>

            <script type="text/javascript" th:if="${task.status} ==2">
                progress_done();
            </script>

        </div>
    </div>

    <!-- <div>
        <div class="row">
            <div class="col-xs-3">
                任务名
            </div>
            <div class="col-xs-6">
                <div class="progress pos-rel" data-percent="66%">
                    <div class="progress-bar" style="width:66%;"></div>
                </div>
            </div>
            <div class="col-xs-3">
                1000/10000
            </div>
        </div>
    </div> -->

    <!-- Modal -->
    <div class="modal fade" id="browser" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="browserModalLabel">选择批量导入文件路径</h4>
                </div>
                <div class="modal-body" style="max-height: 690px;">
                    <div class="form-group">
                        <div class="form-group-cell root-select-cell" style="width: 100px">
                            <label>磁盘:</label>
                            <select id="disk">
                            </select>
                        </div>
                        <div class="form-group-cell folder-select-cell" style="width: 350px">
                            <label class="ng-binding">路径</label>
                            <input type="text" autocomplete="off" id="path" readonly="readonly">
                        </div>
                        <div class="form-group-cell form-button form-link">
                            <a href="" class="up-folder" id="up-folder">
                                <i class="ace-icon fa fa-level-up bigger fa-2x"></i>
                            </a>
                        </div>
                    </div>
                    <input type="hidden" id="current_folder_path" value="">
                    <div class="browse-container" id="browse-container">
                        <div class="browse-item-row" tabindex="0">
                            <div class="file-wrapper browse-item">
                                <span class="icon"><i class="menu-icon fa fa-folder-open-o"></i></span>
                                <span class="path" data-path="">dir</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" id="path_select_btn">选择</button>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(function () {
            function checksubmit() {

                if($("#type").val() === 'local' && $("#my-file-input").val() ==='') {
                    $.alert({
                        title: '提示',
                        content: '请选择图片压缩包',
                    });
                    return;
                }
                if($("#type").val() === 'remote' && $("#path_input").val() ==='') {
                    $.alert({
                        title: '提示',
                        content: '请选择路径',
                    });
                    return;
                }
                $("#import_btn").attr("disabled",true);
                var fileObj =$("#my-file-input")[0].files[0]; // js 获取文件对象
                var FileController = "/face/createTask";                    // 接收上传文件的后台地址
                // FormData 对象
                var formData = new FormData();
                if($("#type").val() === 'local'){
                    $("#uploadProgress").show();
                    $("#uploadText").show();
                    formData.append("myfile" ,fileObj);
                }
                formData.append("type" , $("#type").val());
                formData.append("path" , $("#path_input").val());
                formData.append("faceSetToken" , $("#faceset").val());
                // XMLHttpRequest 对象
                var xhr = new XMLHttpRequest();
                xhr.open("post", FileController, true);
                xhr.onload = function () {
                    if($("#type").val() === 'local') {
//                        $('#uplog_container .scroll-content').append($('<br>')).append($('<span>').text('正在解压中...'));
                    }
                    else
                     location.href = '/face/batch';
                };
                if($("#type").val() === 'local')
                xhr.upload.addEventListener("progress", progressFunction, false);

                xhr.send(formData);
            }
            function progressFunction(evt) {
//                var progressBar = document.getElementById("progressBar");
//                var percentageDiv = $("#percentage");
                if (evt.lengthComputable) {
//                        progressBar.max = evt.total;
//                        progressBar.value = evt.loaded;
                    var percent =   (evt.loaded / evt.total * 100).toFixed(2);
                    $("#progressBar").css("width",percent + "%");
                    $("#percentage").text(percent + "%");
                    if(evt.loaded==evt.total){
                        $('#uplog_container').ace_scroll({size: 200});
                        $(".list-group-item").show();
                        $('#uplog_container .scroll-content').append($('<br>')).append($('<span>').text('上传完毕，正在等待解压，请勿离开此页...'));
                        $("#progressBar").css("width","0%");
                        $("#percentage").text(0 + "%");
                        $("#uploadText").text("解压进度");
                        setTimeout(function () {
                            $("#progressBar").removeClass("progress-bar-purple").addClass("progress-bar-yellow");
                        },1000)
                        var socket = new WebSocket('ws://' + window.location.host + '/client');
                        var stompClient = Stomp.over(socket);
                        stompClient.connect({}, function (frame) {
                            stompClient.subscribe('/i/registry/', function (message) {
                                $('#uplog_container .scroll-content').append($('<br>')).append($('<span>').text(message.body));
                            });
                            stompClient.subscribe('/i/registryStatus/', function (message) {
                                var task_status = JSON.parse(message.body).status;
                                var task_percent = JSON.parse(message.body).percent;
                                $("#percentage").text(task_percent);
                                $("#progressBar").css("width",task_percent);
                                if (task_status === 2) {
                                    location.href = '/face/batch';
                                }
                                else if(task_status === 3){
                                    $("#import_btn").removeAttr("disabled");
                                }
                            })
                        });
                    }
                }
            }

             $("#import_btn").on('click',function () {
                 checksubmit();
             });

            $('#my-file-input').ace_file_input({
                style: 'well',
                no_file: 'Click to choose or drag & drop',
                droppable: true, //html5 browsers only
                btn_choose: "上传图片压缩包",
                thumbnail: 'large', //html5 browsers only
                maxSize: 2024 * 1024 * 1024, //~100 KB
                allowExt: ['zip','rar']
//                            allowMime: ['image/jpg', 'image/jpeg', 'image/png', 'image/gif', 'image/tif', 'image/tiff', 'image/bmp'] //html5 browsers only
            });
            $("#type").on('change',function () {
                if($("#type").val() === 'local'){
                        $("#local").show();
                        $("#remote").hide();
                }
                else {
                    $("#remote").show();
                    $("#local").hide();
                }
            })
            $('#error_table').bootstrapTable();

            $.getJSON('/faceset', function (json) {
                for (var faceset of json) {
                    $('select[name="faceSetToken"]').append(
                        $("<option>", {
                            value: faceset.token
                        }).text(faceset.name)
                    );
                }
            });


            /* $('#import_btn').click(function(e){
             var data = $('#import_form').serializeArray();
             $.ajax({
             url: '/faceset/createTask',
             data: data,
             type: 'POST',
             dataType:"text",
             success: function(result) {
             if(result != null){
             $.alert({
             title: '提示',
             content: '创建成功',
             });
             }
             else {
             $.alert({
             title: '提示',
             content: '添加失败',
             });
             }
             }
             });
             }) */


            $(".browse-container").on("click", ".browse-item-row", function (e) {
                $(".browse-item-row").removeClass('selected');
                $(this).addClass('selected');
                var path = $(this).find(".path").data('path');
                $("#path").val(path);
            })

            $(".browse-container").on("dblclick", ".browse-item-row", function (e) {
                var os = 'windows';
                var path = $(this).find(".path").data('path');
                if(path.indexOf("\/") !== -1){
                    os = 'linux';
                }
                    listDir(path,os);
            })

            $("#disk").change(function (e) {
                var os = 'windows';
                if($(this).val().indexOf("\/") !== -1){
                      os = 'linux'
                }
                listDir($(this).val(),os);
                $("#path").val("");
            });

            $("#up-folder").click(function (e) {
                e.preventDefault();
                var current_folder = $('#current_folder_path').val();
                var os = 'windows';
                if(current_folder.indexOf("\/") != -1){
                    os = 'linux';
                }
                if (isRoot(current_folder,os)) {
                    return;
                }
                var parent = current_folder.substring(0, current_folder.lastIndexOf("\\"));
                if(os === 'linux'){
                    parent = current_folder.substring(0, current_folder.lastIndexOf("\/"));
                    if(parent == '')
                        parent = '/';
                }
                listDir(parent,os);
                if (isRoot(parent,os)) {
                    $("#path").val("");
                } else {
                    $("#path").val(parent);
                }
            });

            $('#path_select_btn').click(function (e) {
                $('#path_input').val($('#path').val());
                $('#browser').modal('hide');
            });

            function isRoot(path,os) {
                if(os == 'windows'){
                    if (path.indexOf("\\") == -1) {
                        return true;
                    }
                    else if(path.indexOf("\\") !== -1) {
                        var path_ary = path.split("\\");
                        if (path_ary.length == 1 || path_ary[1] == "") {
                            return true;
                        }
                    }

                }
               else if(os == 'linux'){
                    if (path.indexOf("\/") == -1) {
                        return true;
                    }
                    else if(path.indexOf("\/") !== -1){
                        var path_ary = path.split("\/");
                        if (path_ary.length == 1 || path_ary[1] == "") {
                            return true;
                        }
                    }
                }
                return false;
            }

            $.getJSON("diskRoot", function (json) {
                $("#disk").empty();
                for (var disk of json) {
                    $("#disk").append($('<option>', {
                        value: disk
                    }).text(disk));
                }

                $("#disk").trigger('change');
            });


            function listDir(folder,os) {

                $.getJSON("listDir", {parent: folder}, function (json) {
                    $('#current_folder_path').val(folder);
                    $("#browse-container").empty();
                    if(os == 'windows') {
                        for (var dir of json) {
                            $("#browse-container").append(
                                $('<div>', {
                                    'class': "browse-item-row",
                                    tabindex: "0"
                                }).append(
                                    $('<div>', {
                                        'class': "file-wrapper browse-item"
                                    }).append(
                                        $('<span>', {'class': 'icon'}).append($('<i>', {'class': "menu-icon fa fa-folder-open-o"}))
                                    ).append(
                                        $('<span>', {
                                            'class': 'path',
                                            'data-path': dir
                                        }).text(dir.substring(dir.lastIndexOf("\\") + 1))
                                    )
                                )
                            );
                        }
                    }
                    else{
                        for (var dir of json) {
                            $("#browse-container").append(
                                $('<div>', {
                                    'class': "browse-item-row",
                                    tabindex: "0"
                                }).append(
                                    $('<div>', {
                                        'class': "file-wrapper browse-item"
                                    }).append(
                                        $('<span>', {'class': 'icon'}).append($('<i>', {'class': "menu-icon fa fa-folder-open-o"}))
                                    ).append(
                                        $('<span>', {
                                            'class': 'path',
                                            'data-path': dir
                                        }).text(dir.substring(dir.lastIndexOf("\/") + 1))
                                    )
                                )
                            );
                        }
                    }

                    if (isRoot(folder)) {
                        $("#up-folder").addClass("disabled");
                    }
                })
            }

        })
    </script>
</div>

</html>
